#addNoteBtn {
  position: fixed;
  bottom: 65px;
  right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #6a453b;
  color: white;
  font-size: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.note-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.note-modal.active {
  display: flex;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  transform: scale(0.9);
}

#title,
#body {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  box-sizing: border-box;
}

.invalid {
  border-color: red;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  margin-top: -8px;
  margin-bottom: 4px;
}

button[type='submit'] {
  background-color: #a66c5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button[type='submit']:hover {
  background-color: #6a453b;
}


.loading-spinner {
  margin-top: 10px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
